body,html{
    background-color: #21232A;
    color: aliceblue;
    font-family: helvetica, arial;
    font-size: 1rem;
    padding: 70px;
}
h4{
    font-family: 'Italic';
}
h1{
    font-weight: Bold;
}
p{
    font-size: 2rem;
    font-weight: Bold;
}
button{
    padding: 1rem;
    outline: none;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1rem;
}